
.hide{
  display:none;
}

.title {
	width:99%;
	background:#e6e6e6;

	margin-bottom:10px;
	padding-left:10px;
	font-weight:bold;
	line-height:17px;
    padding-top:3px;
	/*border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;  -khtml-border-radius: 2px;*/
	height:18px;
}

#groupsSortable {
	padding:0;
	margin:20px;
	width: 98%;
	border-color:#E7E7E7;
}

#groupsSortable li {
    display:block;
	float:left;
	list-style-type:none;
	margin: 0 0px 5px 0px;
	padding: 0px;
	width: 97%;
	height:auto !important;
	border:1px solid #e8ecee;
	border-top:0px;
	background: #FFF;
}

.fieldsSortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-right: 10px;
	min-height:20px;
}

.fieldsSortable > li {
	display:block;
	float:left;
	margin: 0 5px 0px 21px !important;
	padding: 5px 5px 1px 11px !important;
	font-size: 1.2em !important;
	border:0px !important;
	border-top:1px solid #eaeef0 !important;
	background: #FFF;

}


.fieldsSortable > li > .titl {
    float:left;
	display:block;
	width:320px;
    height:20px;
    background:url("/css_mpanel/images/i1.png")  top right no-repeat;
    overflow:hidden;
}

.fieldsSortable > li > .titl > a {
	width:1000px;
	display:block;
    color:#4C4C4C;
}
.fieldsSortable > li > .titl > a:hover{ color:#005ad3;}

.fieldsSortable > li > .titl > i {
	float:left;
	padding-right:5px;
}

.infoBlock {
	float:right;
	display:block;
	width:550px;
	height:20px;
}

.infoBlock span {
	float:left;
	display: inline;
	width:205px;
	padding-left:10px;
    overflow:hidden;
}

.infoBlock span div {
	display: block;
	width:500px;
	cursor:text;
	color:#d38e5c;
	font:12px Arial, Helvetica, sans-serif;
}

.lhide {
	color:#ACACAC  !important;   font:normal 12px Arial, Helvetica, sans-serif;
}
.lshow {
	color:#262626; font:normal 12px Arial, Helvetica, sans-serif;
}


.edits{
 	float:right;

}

.groupEdits{
 	float:right;
 	*margin-top:-17px;
 	padding-right:7px;
}

a.ledit{
  float:left;
}

.zaglushka{
  float:left;
  width:20px;
  height:20px;
}

#divGroupForm, #divFieldForm {
  display:none;
}

.popupForm { color:#434343; font:12px Arial, Helvetica, sans-serif;}
.popupForm .leftcolum{ width:326px; border-right:1px solid #c7c7c7; min-height:350px; margin-right:15px; float:left;}
.popupForm .rightcolum{ width:340px; overflow:auto; height:350px; float:left; }
.popupForm .field_box{ width:310px;  float:left; margin-bottom:19px; }
.popupForm label { color:#434343; }
.popupForm .selectbox234{ display:block;  padding: 3px; width:305px !important; margin-top:5px; }
.popupForm .input{ display:block;  width:305px; margin-top:5px; padding:3px; }
.popupForm .rightcolum h5{ color:#434343; font:bold 12px Arial, Helvetica, sans-serif; margin-bottom:17px; }
.popupForm .typefields{ height:315px; width:340px; overflow:auto; }
.popupForm .typefields li{ height:22px; padding:8px 0px 0px 45px; cursor:pointer; background: url("../css_mpanel/i/i11.png")  no-repeat; }
.popupForm .typefields li:hover, #ajaxFieldForm .typefields li:hover a{ text-decoration:underline; color:#005ad3; background:#ebe097 url("../css_mpanel/i/i11.png")  no-repeat;  }
.popupForm .typefields .active{background:#ebe097 url("../css_mpanel/i/i11.png")  no-repeat;}